@import "@fortawesome/fontawesome-free/css/all.css";
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import './navbar.css';
@import './card.css';
@import './sidebar.css';
@import './icon.css';
@import './image.css';
@import './topbar.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

/* ---------- */
/* Custom CSS */
/* ---------- */


body {
    background: #ffffff;
    background-image: linear-gradient(rgba(0, 0, 0, 0.200) .1em, transparent .1em), linear-gradient(90deg, rgba(0, 0, 0, 0.200) .1em, transparent .1em);
    background-size: 2em 2em;
    font-family: "Space Mono", monospace;
    --sidebar-width: 400px;
    overflow: hidden;
}

/* main body container*/
.main-body-container {
    width: 100%;
    min-height: 100%;
    overflow-y: scroll;
    overflow-x: none;
}

@media screen and (max-width: 750px) {
    .main-body-container {
        max-width: 100%;
    }
}

.header {
    padding-top: 10px;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: double;
}

.subheader {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 25px;
}

.date {
    color: #424242;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.text {
    color: rgb(0, 0, 0);
    font-weight: normal;
    font-size: 20px;
}

/* sidebar header and text */
.side-header {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
    font-weight: bolder;
    text-decoration-line: underline;
    text-decoration-style: double;
    word-break: normal;
}

.side-text {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    font-size: 20px;
    word-break: normal;
}

@media screen and (max-width: 750px) {
    .side-header {
        padding-top: 10px;
        padding-bottom: 5px;
        font-size: 20px;
    }

    .side-text {
        font-size: 15px;
        padding: 0;
    }
}

#full-body-container {
    display: flex;
    justify-content: space-between;
    max-height: 94vh;
    min-height: 94vh;
    overflow: hidden;
}

@media screen and (max-width: 750px) {
    #full-body-container {
        flex-direction: column;
    }
}