.icon {
    color: black;
    text-align: center;
    font-size: 60px;
    padding: 10px;
}

.icon:hover {
    color: rgb(82, 82, 82);
}

@media screen and (max-width: 750px) {
    .icon {
        font-size: 30px;
    }
}