#topbar {
    display: none;
    overflow: hidden;
    transition: all 3s;
}

@media screen and (max-width: 750px) {
    #topbar {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 15rem;
        background-color: #fbf4a0;
        border-bottom: 3px solid rgb(0, 0, 0);
    }

    #topbar.open {
        height: 200rem;
    }

}